<!--<button (click)="click()" style="position: absolute;">Click</button>-->
<div class="top">
  <h1>@if (finished) {
    Konec!
  } @else {
    Najdi čísla, která dají dohromady {{ target }}
  }</h1>

  <h2>
    {{ points }}
    @if (points == 1) {bod}
    @else if (points > 1 && points < 5) {body}
    @else {bodů}
  </h2>
</div>

<div class="field">
  <table class="container">
    @for (row of numberGrid; track $index; let i = $index) {
      <tr>
        @for (number of row; track $index; let j = $index) {
          <td class="tile"
              style="height: {{TILE_SIZE}}px;"
              (click)="clicked(i, j)"
              [class.selected]="selectedRow === i && selectedCol === j"
              >
            {{ number }}
          </td>
        }
    </tr>
    }
  </table>
  <div class="enemy" style="top: {{enemyPos}}px">&nbsp;</div>
</div>
<router-outlet></router-outlet>
