:host {
    height: 100vh;
    width: 100vw;
    overflow: clip;
    display: flex;
    flex-direction: column;
    background-image: url('/paper.jpg') /*url('/sky_red.jpg')*/;
    background-repeat: repeat;

    font-family: 'FirstTimeWriting!';
}

@font-face {
  font-family: "FirstTimeWriting!";
  src: url("/FirstTimeWriting!.woff2");
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgb(238, 237, 237);
    border-bottom: 1px solid black;
    height: 3em;
}
.field {
    height: 20em;
}
.container {
    max-width: 12cm;
    width: 100%;
    margin: auto;
}
.tile {
    font-size: 180%;
    text-align: center;

    /*border: 1px dotted black;
    background-color: rgb(238, 237, 237);*/

    &.selected {
        background-color: rgba(65, 97, 177, 0.323);
        border-radius: 5px;
    }
    aspect-ratio: 1;
    padding: 0;
}

.lava-container {
    position: relative;
}

.enemy {
    background-image: url('/Spikes2.png');
    background-repeat: repeat-x;
    background-position: 50%;
    max-width: 100vw;
    width: 100%;
    height: 99px;
    position: relative;
    margin: auto;
}
