.tile {
    display: inline-block;
    //width: 30px;
    text-align: center;

    border: 1px dotted black;
    background-color: rgb(238, 237, 237);
    padding: 1em;
    margin: 0.2em;

    &.selected {
        background-color: yellow;
    }
}
